/* Default Dark Theme */
body {
	font-family: Arial, sans-serif;
	margin: 20px;
	padding: 0;
	background-color: #121212;
	color: #e0e0e0;
}

h2 {
	margin: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dropdown-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.styled-select {
	padding: 10px 35px 10px 15px;
	font-size: 16px;
	border: 1px solid #444;
	color: white;
	outline: none;
	appearance: none;
	cursor: pointer;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='%23555' d='M5 7l5 5 5-5H5z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 14px;
	background-color: #121212;
}

.styled-select:hover {
	border-color: #90ee90;
}

.styled-select:focus {
	border-color: #90ee90;
	box-shadow: 0 0 5px #90ee90;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	background-color: #1e1e1e;
}

th,
td {
	border: 1px solid #444;
	padding: 10px;
	color: #e0e0e0;
}

td {
	text-align: left;
}

th {
	text-align: center;
}

td.pdf-link,
td.published-date,
td.semester-num {
	text-align: center;
}

td.pdf-link {
	padding: 0;
}

@media (min-width: 778px) {
	td.published-date::after {
		content: attr(data-published-year);
	}
}

td.description {
	word-break: break-word;
}

#semester-heading::before {
	content: "Sem";
}

@media (max-width: 576px) {
	#semester-heading::before {
		content: "S";
	}
}

.pdf-link a {
	display: inline-block;
	padding: 5px;
	color: #90ee90;
	text-align: center;
}

.pdf-link svg {
	width: 20px;
	height: 20px;
	fill: #90ee90;
}

th {
	background-color: #222;
}

a {
	color: #e0e0e0;
	text-decoration: none;
}

td.no-data {
	padding: 15px;
	text-align: center;
}

/* Light Theme (Only When User Prefers It) */
@media (prefers-color-scheme: light) {
	body {
		background-color: #ffffff;
		color: #333;
	}

	.styled-select {
		border: 1px solid #ddd;
		background-color: #fff;
		color: #333;
	}

	table {
		background-color: #fff;
	}

	th,
	td {
		border: 1px solid #ddd;
		color: #333;
	}

	th {
		background-color: #f4f4f4;
	}

	a {
		color: #333;
	}
}
